<div class="row container">
      <div class="lead col-md-7" style="justify-content:center;margin: auto;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget magna fermentum iaculis eu non diam phasellus. Amet commodo nulla facilisi nullam vehicula. Nibh tellus molestie nunc non blandit massa enim. Tempus urna et pharetra pharetra massa massa ultricies mi quis. Blandit cursus risus at ultrices mi. Maecenas ultricies mi eget mauris pharetra. Et pharetra pharetra massa massa ultricies. Sed viverra ipsum nunc aliquet bibendum. In metus vulputate eu scelerisque felis imperdiet proin.
      </div>
  
      <div class="d-none d-md-block col-md-5">
        <img class="img-fluid" src="https://remote-careers-website--a05p2phani.repl.co/static/about-sec-img.jpg"
          />
      </div>
</div>